*{margin: 0;padding: 0;text-decoration: none;list-style: none;}
header{text-align: center;font-size: 30px; font-weight: bold;color: rgb(219, 114, 158);margin-top: 20px;}
canvas{
    
    /* background: #aaa; */
    border: 3px solid #aaa;
    background-color: rgb(255, 255, 255);
}


.color>div{
    width: 40px;
    height: 40px;
    background: blue;
}
.color{
    right: 20px;
}
.click_none {width: 100vw; height: 100vh; pointer-events: none; position: absolute; top: 0px; background-color: rgba(1, 1, 1, 0.2);}

