*{margin: 0;padding: 0;text-decoration: none;list-style: none;}
header{text-align: center;font-size: 30px; font-weight: bold;color: rgb(219, 114, 158);margin-top: 20px;}
canvas{
    width: 70vw;height: 70vh;
    /* background: #aaa; */
    border: 3px solid #aaa;
    position: relative;
    margin-top: 30px;
}
div{
    background: #aaa;
    width: 100px;
    height: 100px;
}

canvas:hover{
    
}